<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Go Templates By Example</title>
	<link rel="stylesheet" href="/assets/css/site.css" />
</head>
<body>
	<h1>Go Templates By Example</h1>
	<p>Go is an open source language. I enjoy it. I found <a href="https://gobyexample.com">Go By Example</a> to be really useful, so I wrote this site because while thorough, the go template documentation can be, at times, overbearing.</p>

	<footer>
		Brought to you by
		<a class="shameless-twitter-plug" href="https://twitter.com/frykh0lm" target="_blank">@frykh0lm</a>
	</footer>
</body>
</html>